@import '../global.scss';

.project {
	overflow: hidden;
	width: 700px;
	height: auto;
	margin-bottom: 40px;
	position: relative;
	color: $clr-text-light;
	font-family: 'Roboto', sans-serif;
	border-radius: 3px;
	border: 1px solid $clr-border;


	&__bg {
		height: auto;
		width: inherit;
	}

	&__header {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.5px;
		display: inline;
		margin: 0;
		margin-left: 10px;
		
	}

	&__toolbar {
		background-color: $gun-powder;
		width: 100%;
		position: absolute;
		bottom: 0;
		padding: 5px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__controls {
			float: right;
		}
	}
}
