@import '../global.scss';

.project {
	border-radius: 5px;
	overflow: hidden;
	width: 700px;
	height: auto;
	margin-bottom: 30px;
	position: relative;
	color: $clr-text-light;
	font-family: 'Roboto', sans-serif;
	border: 1px solid $clr-border;

	&__bg {
		height: auto;
		width: inherit;
	}

	&__header {
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.5px;
		display: inline;
		margin: 0;
		margin-left: 20px;
		
	}

	&__toolbar {
		background: $gun-powder;
		width: 100%;
		position: absolute;
		bottom: 0;
		padding: 8px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&__controls {
			float: right;
		}
	}
}
