@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

//light colours
$lightDefault: #FDFFFF;
 
//dark colours
// $darkDefault: #141421;
// $darkDefault: #1c1c27;
// $darkDefault: #262635;
// $darkDefault: #575463;
$darkDefault: #47465a;
$darkLight: #696773;
$grey: #444040;


//apply opacity to colourvariable
@mixin bgOpacity($col, $opacity){
    background-color: rgba($col, $opacity)
}

//primary colours
// $primaryDefault: #A1869E;//not bad
$primaryDefault: rgb(252, 131, 129);
$primaryLight: #F597AB;
$primaryDark: #822438;

//breakpoint sizes
$xxs: 568px;
$xs: 768px;
$sm: 991px;
$md: 1199px;
$lg: 1200px;

//media query mixins
@mixin xxs {
    @media only screen and (max-width: $xxs)  {@content;}
}

@mixin xs {
    @media only screen and (max-width: $xs) {@content;}
}

@mixin sm {
    @media only screen and (max-width: $sm) {@content;}
}

@mixin md {
    @media only screen and (max-width: $md) {@content;}
}

@mixin lg {
    @media only screen and (min-width: $lg) {@content;}
}



